.instantl-book {
  width: 100%;
}
.instantl-book .switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 12px;
}
.instantl-book .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.instantl-book input:checked + .slider {
  background-color: #ccc;
}
.instantl-book .slider.round {
  border-radius: 34px;
}

.instantl-book input:checked + .slider::before {
    transform: translateX(24px);
}
.instantl-book .slider.round::before {
  border-radius: 70%;
}
.modelcheckbox {
  width: 2% !important;
}
.instantl-book .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -4px;
  background-color: #fe0000;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 70%;
}
.instantl-book .slider {
  cursor: pointer;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.booking-title {
  margin-top: -6px;
  display: block ruby;
  margin-bottom: 15px;
}
.step-one p {
  margin-bottom: 25px;
}
.booking-title {
  margin-top: -6px;
  display: block ruby;
  margin-bottom: 15px;
}
.highlights-title span {
    float: right;
}
.accessibility span {
    float: right;
}
.description-txt span {
    float: right;
}
.customers-help span {
    float: right;
}
.return-info span {
    float: right;
}
.itinerary-data h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.itinerary-data p {
  display: inline-block;
}
.highlights-title label {
  font-size: 18px;
  font-weight: 600;
}
.booking-titles h3 {
  font-size: 18px;
  font-weight: 600;
}
.select-dropoff {
  margin-bottom: 15px;
  margin-top: 15px;
}
.special-offer {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.error {
  color: #C9302C !important;
  display: block;
  text-align: left;
  font-size: 14px !important;
  font-weight: bold !important;
  text-transform: none !important;
}
.plandaybyday h3 {
  font-size: 18px;
  font-weight: 600;
}
.plandaybyday label {
  font-size: 25px;
}
.select-dropoff {
  margin-bottom: 15px;
  margin-top: 15px;
}
.photo-upload {
  margin-bottom: 15px;
}
.photo-upload label {
  width: 300px;
  height: 135px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.plandaybyday label {
  font-size: 25px;
}
.photo-upload .pro_card_img {
  width: 100%;
  min-height: 115px;
  border-radius: 0px;
}
.photo-upload span {
  max-width: 100%;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.description-txt {
  margin-top: 5px;
}
.photo-upload input {
  display: none !important;
}
.addnewdiv {
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-top: 5px;
}
.return-info h3 {
  font-size: 18px;
  font-weight: 600;
}
.return-info p {
  margin-bottom: 15px;
}
.companydetails h3 {
  font-size: 18px;
  font-weight: 600;
}
.companydetails p {
  margin-bottom: 15px;
}
.companydetails-info {
  margin-bottom: 15px;
}
.pac-target-input:not(:autofill) {
  animation-name: endBrowserAutofill;
}
.select-dropoff {
  margin-bottom: 15px;
  margin-top: 15px;
}
.pin-on-map h3 {
  font-size: 18px;
  font-weight: 600;
}
.pin-on-map .maparea, .maparea iframe {
  width: 100%;
  height: 50vh;
}
.customers-help h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.customers-help p {
  margin-bottom: 10px;
}
.row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}
.fitness-fee-ad{
	width: 47%;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 4px;
}
.fitness-fee-sp{
	margin-left: 7px;
}